+section('Presets')
  +subsection('Basic')
    +preset('<preset-example colors="simple" />')

  +subsection('Text')
    h3 Text Simple (text-simple)
    +preset('<preset-example colors="text-simple" />')

    :markdown-it
      The most basic colors for styling text.


    h3 Text Advanced (text-advanced)
    +preset('<preset-example colors="text-advanced" />')

    :markdown-it
      A complete collection of colors for styling text.

      Inspired by **Google Docs**

  +subsection('Material Colors')
    h3 Material Simple (material-simple)
    +preset('<preset-example colors="material-simple" />')

    h3 Material Light (material-light)
    +preset('<preset-example colors="material-light" />')

    h3 Material Dark (material-dark)
    +preset('<preset-example colors="material-dark" />')
