+section('Presets')
  +subsection('Basic')
    +preset('<preset-example colors="simple" />')

  +subsection('Text')
    h3 Text Simple (text-simple)
    +preset('<preset-example colors="text-simple" />')

    :markdown-it
      The most basic colors for styling text.


    h3 Text Advanced (text-advanced)
    +preset('<preset-example colors="text-advanced" />')

    :markdown-it
      A complete collection of colors for styling text.

      Inspired by **Google Docs**
