+section('Presets')
  +subsection('Simple')
    +preset('simple')

  +subsection('Text')
    h3 Text Simple (text-simple)
    +preset('text-simple')
    :markdown-it
      The most basic colors for styling text.


    h3 Text Advanced (text-advanced)
    +preset('text-advanced')
    :markdown-it
      A complete collection of colors for styling text.

      Inspired by **Google Docs**
