+section('Presets')
  +subsection('Basic')
    +preset('<preset-example colors="simple"></preset-example>')

  +subsection('Text')
    h3 Text Simple (text-simple)
    +preset('<preset-example colors="text-simple"></preset-example>')

    :markdown-it
      The most basic colors for styling text.


    h3 Text Advanced (text-advanced)
    +preset('<preset-example colors="text-advanced"></preset-example>')

    :markdown-it
      A complete collection of colors for styling text.

      Inspired by **Google Docs**

  +subsection('Material Colors')
    h3 Material Simple (material-simple)
    +preset('<preset-example colors="material-simple"></preset-example>')

    h3 Material Light (material-light)
    +preset('<preset-example colors="material-light"></preset-example>')

    h3 Material Dark (material-dark)
    +preset('<preset-example colors="material-dark"></preset-example>')
