$secondary-color: #F26556;
$tertiary-color: #ccc;
$background-light-color: #f3f3f3;

$global-font-size: 16x;
$global-font: 'Open Sans', sans-serif;
$global-font-secondary: 'Quicksand', sans-serif;
$global-font-color: #2c3e50;
$global-font-weight: 400;
$global-font-weight-bold: 700;

$global-page-width: 1400px;
$global-grid-columns: 12;
$global-gutter: 40px;
