$grid-columns: $global-grid-columns;
$grid-gutter-width: $global-gutter;
$grid-max-width: $global-page-width;

@mixin generate-grid-column-sizes() {
  @for $i from 1 through $grid-columns {
    .column--#{$i} {
      width: percentage($i / $grid-columns);
    }
  }
}

html, body {
  font-size: 100%;
  height: 100%;
}

html {
  overflow: auto;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit
}

.grid__row {
  @include clearfix;

  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-size: 0;
  max-width: $grid-max-width;
}

.grid__column {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 ($grid-gutter-width / 2);
  text-align: left;
  vertical-align: top;
  font-size: 1rem;

  .grid__row {
    margin: {
      left: -$grid-gutter-width / 2;
      right: -$grid-gutter-width / 2;
    }
  }
}

@include generate-grid-column-sizes();
