$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$desktop-m: 1024px;
$desktop-l: 1440px;
$retina: 1920px;

$mobile-s-only: "screen and (max-width: #{$mobile-s})";
$mobile-m-down: "screen and (max-width: #{$mobile-m})";
$mobile-only: "screen and (max-width: #{$mobile-l})";
$tablet-only: "screen and (min-width: #{$mobile-l + 1}) and (max-width: #{$tablet})";
$tablet-down: "screen and (max-width: #{$tablet})";
$tablet-up: "screen and (min-width: #{$mobile-l + 1})";
$desktop-up: "screen and (min-width: #{$tablet + 1})";
$desktop-l-up: "screen and (min-width: #{$desktop-m + 1})";
$retina-up: "screen and (min-width: #{$desktop-l + 1})";
