$header-line-height: 1.2;
$header-font-family: $global-font-secondary;
$header-font-weight: $global-font-weight-bold;
$header-color: $secondary-color;

$header-h1-size-ratio: 2;
$header-h2-size-ratio: 1.625;
$header-h3-size-ratio: 1.375;
$header-h4-size-ratio: 1.125;

body {
  color: $global-font-color;
  font-size: $global-font-size;
}

.typo__h1,
.typo__h2,
.typo__h3,
.typo__h4,
.typo__h5 {
  margin-top: 0;
  margin-bottom: to-rem($global-font-size);
  line-height: $header-line-height;
  color: $header-color;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}

h1,
.typo__h1 {
  font-size: to-rem($header-h1-size-ratio * $global-font-size);
  margin: to-rem-all(10px 0 40px);
}

h2,
.typo__h2 {
  font-size: to-rem($header-h2-size-ratio * $global-font-size);
  padding-top: to-rem-all(20px);
}

h3,
.typo__h3 {
  font-size: to-rem($header-h3-size-ratio * $global-font-size);
}

h4,
.typo__h4 {
  font-size: to-rem($header-h4-size-ratio * $global-font-size);
  padding-top: to-rem-all(10px 0 0);
}
