.DS_Store

node_modules/
npm-debug.log
selenium-debug.log

dist/demo.html
dist/vue-swatches.common.js
dist/vue-swatches.common.js.map
dist/vue-swatches.umd.js
dist/vue-swatches.umd.js.map
dist/vue-swatches.umd.min.js.map

.babelrc
.editorconfig
.eslintrc.js
.gitignore
.tern-project

docs/
tests/
gh-pages/
static/
test/
build/

.eslintignore
index.html
config.js
