.nav {
  ul {
    font-family: $global-font;
    font-size: to-rem(16px);
    letter-spacing: 0.4px;
    line-height: 32px;
    list-style: none;

    @media #{$desktop-l-up} {
      padding-left: 112px;
    }
    @media #{$retina-up} {
      padding-left: 180px;
    }
  }
}

.nav--sticky {
  position: fixed;
  top: 10px;
  bottom: 10px;
  width: 25%;
  overflow-y: scroll;
}

.nav__heading {
  font-family: $global-font-secondary;
  $font-size: rem(14px);
  $weight: $global-font-weight-bold;
  line-height: to-rem(30px);
  color: $secondary-color;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin: to-rem-all(20px 0 0);
}

.nav__item {
  color: $global-font-color;
}

.nav__link {
  margin-left: to-rem(-10px);
  color: $global-font-color;
  text-decoration: none;
  display: block;
  padding: to-rem-all(7px 10px);
  line-height: 1.3;

  &--active {
    background-color: $background-light-color;
  }
}
