+section('Presets')
  +subsection('Basic')
    h3 Basic Colors (basic)
    :markdown-it
      A basic collection of colors for general purposes.

    +preset('<preset-example colors="basic"></preset-example>')

  +subsection('Text')
    h3 Basic Colors for Text (text-basic)
    :markdown-it
      A basic collection of colors for styling text.

      This preset also sets `showBorder`

    +preset('<preset-example colors="text-basic"></preset-example>')

    h3 Advanced Colors for Text (text-advanced)
    :markdown-it
      A complete collection of colors for styling text. This preset uses nested colors.  
      Inspired by **Google Docs**

      This preset also sets `borderRadius`, `rowLength`, `swatchSize` and `spacingSize`

    +preset('<preset-example colors="text-advanced"></preset-example>')


  +subsection('Material Colors')
    h3 Basic Material Colors (material-basic)
    :markdown-it
      A basic collection of material colors.

    +preset('<preset-example colors="material-basic"></preset-example>')

    h3 Light Material Colors (material-light)
    :markdown-it
      A basic collection of light material colors. Useful to show dark text inside.

    +preset('<preset-example colors="material-light"></preset-example>')

    h3 Dark Material Colors (material-dark).
    :markdown-it
      A basic collection of dark material colors. Useful to show light text inside.
    +preset('<preset-example colors="material-dark"></preset-example>')
