+section('Examples')

  +subsection('Simple')
    +example('Simple')

  +subsection('Using a Preset')
    :markdown-it
      Vue Swatches has a bunch of [presets](#presets) ready to use. Make sure to check it out!
    +example('PresetSimple')

  +subsection('Using a Custom Trigger')
    :markdown-it
      You can use your custom trigger. Useful to show `buttons`, `icons`, custom `inputs`!
    +example('CustomTrigger')

  +subsection('Custom Colors')
    :markdown-it
      Remeber to use always **6-digits** hexadecimal colors.

      If you want to provide a **transparent/no-color** option you can use a empty string (`''`).
    +example('CustomColors', { showJavascript: true })

  +subsection('Nested Colors')
    :markdown-it
      You can use your own colors in a nested arrays.
    +example('NestedColors', { showJavascript: true })

  +subsection('Inline Mode')
    :markdown-it
      Inline Mode hides the trigger and show all the swatches right away! Useful for Advanced UI
    +example('InlineSimple')

  +subsection('Inline + Custom UI')
    +example('InlineAdvanced')

  +subsection('Using Exceptions')
    :markdown-it
      You can hide or disable colors, using `exceptions` and `exception-mode`
    +example('Exceptions', { showJavascript: true })
