+section('Examples')

  +subsection('Simple')
    +example('Simple')

  +subsection('Using a Preset')
    +example('PresetSimple')

  +subsection('Using a Custom Trigger')
    +example('CustomTrigger')

  +subsection('Custom Colors')
    +example('CustomColors', { showJavascript: true })

  +subsection('Inline Mode')
    +example('InlineSimple')

  +subsection('Using Exceptions')
    +example('Exceptions', { showJavascript: true })
