+section('Examples')
  +subsection('Simple')
    +example('Simple')

  +subsection('Using a Preset')
    +example('PresetSimple')

  +subsection('Custom Colors')
    +example('CustomColors', { showJavascript: true })

  +subsection('Inline Mode')
    +example('InlineSimple')
