ul.nav {
  font-family: $global-font;
  font-size: to-rem(16px);
  letter-spacing: 0.4px;
  line-height: 32px;
  list-style: none;
  @media #{$desktop-l-up} {
    margin-left: 72px;
  }
  @media #{$retina-up} {
    margin-left: 140px;
  }
}

.nav--sticky {
  position: fixed;
  top: 0;
  width: 25%;
}

.nav__heading {
  font-family: $global-font-secondary;
  $font-size: rem(14px);
  $weight: $global-font-weight-bold;
  line-height: to-rem(30px);
  color: $secondary-color;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin: to-rem-all(20px 0 0);
}

.nav__item {
  color: $global-font-color;
  
  &--active {
    background-color: $background-light-color;
  }
}

.nav__link {
  margin-left: left(-10px);
  color: $global-font-color;
  text-decoration: none;
  display: block;
  padding: to-rem-all(7px 10px);
  line-height: 1.3;
}
