@import '../base/global';
@import '../base/functions';

$table-padding: 14px 16px;
$table-font-size: 16px;
$table-border-color: $tertiary-color;
$table-secondary-color: #fafafa;

.table__container {
  overflow-x: auto;
}

.table {
  font: {
    family: $global-font;
    size: to-rem($table-font-size);
    weight: $global-font-weight;
  }
  border-collapse: collapse;
  line-height: 1.4;
}

.table__tr {
  border-bottom: 1px solid $table-border-color;
  box-sizing: border-box;
  border-left: to-rem(4px) solid transparent;

  &:nth-child(even) {
    background-color: $table-secondary-color;
  }
}


.table__td, .table__th {
  padding: to-rem-all($table-padding);
}

.table__td {
  vertical-align: top;
}

.table__th {
  border-bottom: 1px solid $table-border-color;
}
