h2.typo__h2#sub-events(data-section) Events
.grid__row
  .grid__column
    .table__container
      table.table.table--full-width
        thead
          tr.table__tr
            th.table__th.table__th__medium Name
            th.table__th.table__th__medium Payload
            th.table__th.table__th__large Description
        tbody
          tr.table__tr
            td.table__td: strong @input
            td.table__td: kbd value
            td.table__td
              | Emitted after when #[kbd this.value] changes

          tr.table__tr
            td.table__td: strong @open
            td.table__td: -
            td.table__td
              | Emitted when the popover is opened.

          tr.table__tr
            td.table__td: strong @close
            td.table__td: kbd value
            td.table__td
              | Emitted when the popover is closed.
