h2.typo__h2#sub-slots(data-section) Slots
.grid__row
  .grid__column
    .table__container
      table.table.table--full-width
        thead
          tr.table__tr
            th.table__th.table__th__medium Name
            th.table__th.table__th__large Description
        tbody
          tr.table__tr
            td.table__td: strong trigger
            td.table__td
              | Use to replace the trigger.#[br]
              | Useful for showing custom icons, buttons or inputs.
