section.hero
  .brand__container
    img.brand__logo(src=require('assets/vue-logo.png'))
    span.brand__name
      h1.typo__h1.typo__h1--hero(:class="`color--${color}`")
        span.brand__vue Vue
        | 
        span.brand__swatches Swatches
      small.brand__version
        =`v${require('../package.json').version}`

  .grid__row
    .grid__column

      h3.typo__h3.hero__subtitle Help the user picking beautiful colors!

    .brand__colors__container
      swatches(:colors="brandColors" :inline="true" v-model="brandColor")
