@import 'assets/main';

$th-medium-width: 180px;
$th-large-width: 320px;

$brand-container-spacing: 48px 30px 24px;
$brand-container-spacing-tablet: 80px 30px 46px;
$brand-container-spacing-desktop: 120px 30px 80px;
$subtitle-color: $global-font-color;
$transition-duration: 0.8s;

body {
  background: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-decoration: none;
}

.hero {
  margin-bottom: to-rem(42px);
}

.brand__container {
  display: flex;
  justify-content: space-between;
  padding: to-rem-all($brand-container-spacing);
  @media #{$tablet-up} {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: to-rem-all($brand-container-spacing-tablet)
  }
  @media #{$desktop-up} {
    max-width: 480px;
    padding: to-rem-all($brand-container-spacing-desktop);
  }
}
  .brand__logo {
    height: 80px;
    @media #{$mobile-s-only} {
      height: 60px;
    }
    @media #{$desktop-up} {
      height: 120px;
    }
  }

  .brand__name {
    position: relative;
  }

  .brand__swatches {
    padding-bottom: 0;
  }

  .brand__version {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 24px;
    color: $subtitle-color;
    font-weight: bold;
    @media #{$desktop-up} {
      padding-bottom: 48px;
    }
  }

  .brand__colors__container {
    display: flex;
    justify-content: space-around;
    @media #{$tablet-up} {
      padding: {
        top: 54px;
        bottom: 36px;
      }
    }
  }

  .hero__subtitle {
    text-align: center;
    color: $subtitle-color;
  }

.blank__link {
  color: inherit;
  text-decoration: none;
}

.table ul {
  margin: {
    top: 0;
    bottom: 0;
  }
}

@import 'floating-scroll/src/jquery.floatingscroll.css';

.table .list__description {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
}

.form__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 24px;
    bottom: 24px;
  };
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

  .form__label strong {
    font-family: $global-font-secondary;
    font-size: 1.2rem;
  }
  .form__input__element {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  }


.table__th__medium {
  min-width: $th-medium-width;
}
.table__th__large {
  min-width: $th-large-width;
}

.footer {
  margin-top: 30px;
}

.color--red {
  color: #f26556;
  transition: color $transition-duration;
}
.color--orange {
  color: #f6a820;
  transition: color $transition-duration;
}
.color--green {
  color: #4ccb7c;
  transition: color $transition-duration;
}
.color--purple {
  color: #9874db;
  transition: color $transition-duration;
}
