.grid__row
  .grid__column
    section#sub-getting-started(data-section)
      h1.typo__h1 Getting started
      hr.typo__hr

      .grid__row
        .grid__column
          h2.typo__h2 Installation

          h3.typo__h3 via npm
          pre.language-bash
            code.
              npm install vue-swatches --save

          h3.typo__h3 via yarn
          pre.language-bash
            code.
              yarn add vue-swatches

          h3.typo__h3 via CDN
          pre.language-html
            code
              :escape-html
                <link rel="stylesheet" href="https://unpkg.com/vue-swatches/dist/vue-swatches.min.css">
                <script src="https://unpkg.com/vue-swatches"></script>

      .grid__row
        .grid__column
          h2.typo__h2 Basic usage
          pre.language-html
            code
              :escape-html
                <!-- Vue component -->
                <template>
                  <div>
                    <swatches v-model="color" />
                  </div>
                </template>

                <script>
                  import Swatches from 'vue-swatches'

                  // Import the styles too, globally
                  import "vue-multiselect/dist/vue-multiselect.min.css"

                  export default {
                    components: { Swatches }, // window.VueSwatches.default - from CDN
                    data () {
                      return {
                        color: '#1CA085'
                      }
                    }
                  }
                </script>

                <style src=""></style>
