.grid__row
  .grid__column
    section#sub-getting-started(data-section)
      h1.typo__h1 Getting started
      hr.typo__hr

      .grid__row
        .grid__column
          h2.typo__h2 Installation

          h3.typo__h3 via npm
          pre.language-bash
            code.
              npm install vue-swatches --save

          h3.typo__h3 via yarn
          pre.language-bash
            code.
              yarn add vue-swatches

          h3.typo__h3 via CDN
          pre.language-html
            code
              | &lt;script src="https://unpkg.com/vue-swatches">&lt;/script>

        .grid__column
          h2.typo__h2 Basic usage
          pre.language-html
            code
              :escape-html
                <!-- Vue component -->
                <template>
                  <div>
                    <swatches v-model="color" />
                  </div>
                </template>

                <script>
                  import Swatches from 'vue-swatches'

                  // Register globally
                  Vue.component('swatches', Swatches)

                  export default {
                    // or register locally
                    components: { Swatches },
                    data () {
                      return {
                        color: '#1CA085'
                      }
                    }
                  }
                </script>
